<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Attenborough</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="bodyDiv">

        <h1>About David Attenborough</h1>
        <p>Sir David Frederick Attenborough is an English broadcaster, biologist, natural historian and author.<br>
            He is best known for writing and presenting, in conjunction with the BBC Natural History Unit, <br>
            the nine natural history documentary series forming the Life collection, a comprehensive survey of <br>
            animal and plant life on Earth.
        </p>
        <div class="links">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo-gallery">Photo Gallery</a>
        </div>

    </div>

       
    
       

</body>
</html>

