<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Attenborough</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="bodyDiv">
        <h1>Welcome to Shubee's David Attenborough Fansite! </h1>
        <img id="DavidAtt" src="https://cdn.britannica.com/83/136183-050-28D77230/David-Attenborough-2008.jpg">
        <div class="links">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo-gallery">Photo Gallery</a>
        </div>
    </div>


</body>
</html>

