<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Attenborough</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

    <div class="bodyDiv">
        <h1>Photo Gallery!</h1>
        
        <div id="imgDiv">
            <img src="../images/1.IMG.jpg">
            <img src="../images/2.IMG.jpg">
            <img src="../images/3.IMG.jpg">
            <img src="../images/4.IMG.jpg">
            <img src="../images/5.IMG.jpg">
            <img src="../images/6.IMG.png">
        </div>
    
        <div class="links">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo-gallery">Photo Gallery</a>
        </div>
    </div>

    
  
   

</body>
</html>

